<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plugins/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>TI Shirts</title>
</head>

<body ng-app="app">
    <header>

        <!--  Menu  -->

        <nav>
            <a href="index.html"><img src="assets/Logo TI-Shirts.webp" alt="" srcset=""></a>
            <div>
                <ul class="nav_list">
                    <li>
                        <a href="index.html">Início</a>
                    </li>
                    <li>
                        <a href="produtos.html">Produtos</a>
                    </li>
                    <li>
                        <a href="contato.html">Contato</a>
                    </li>
                    <li>
                        <a href="cadastro.html">Cadastro</a>
                    </li>
                    <li>
                        <a href="carrinho.html">
                            <i class="bi bi-cart-check"></i>
                            Carrinho
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main ng-controller="cart_controller">
        <section>
            <div>
                <h2>Carrinho de compras</h2>
                <hr>
            </div>
            <div class="row gap">
                <div ng-repeat="product in cart track by $index" class="col-12 col-md-4" id="foto1">
                    <div class="row">
                        <div class="col-12 product-img">
                            <img src="{{ product.image }}" class="img-fluid" alt="">
                        </div>
                        <div class="col-12 mt-10 product-desc">
                            <div class="row bolder">
                                {{ product.name }}
                            </div>
                            <div class="row">
                                <div class="col-md-6 no-padding">Quantidade:</div>
                                <div class="col-md-1 no-padding center" ng-click="minQuantity($index)"><i
                                        class="bi bi-dash-circle-fill"></i></div>
                                <div class="col-md-1 no-padding center">{{product.quantity}}</div>
                                <div class="col-md-1 no-padding center" ng-click="addQuantity($index)"><i
                                        class="bi bi-plus-circle-fill"></i></div>
                            </div>
                            <div class="row bold">
                                VALOR: R${{product.price}}
                            </div>
                            <div class="row thrash">
                                <i ng-click="removeItem($index)" class="bi bi-trash-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 no-padding">
                    <input type="text" ng-model="coupon">
                </div>
                <div class="col-md-3 no-padding">
                    <button type="submit" ng-click="validateCoupon()" class="btn btn-primary">
                        <span>Aplicar Cupom</span>
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="finish">
                        <p class="total">Total: {{ price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); }}</p>
                        <button type="submit" ng-click="finishBuy()" class="btn btn-primary">
                            <span>Finalizar compra</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--  Rodapé  -->

    <footer>
        <hr>
        <div>
            <section>
                <a class="social" href="#">
                    <i class="bi bi-facebook"></i>
                    Facebook
                </a>
                <a class="social" href="#">
                    <i class="bi bi-twitter"></i>
                    Twitter
                </a>
                <a class="social" href="#">
                    <i class="bi bi-instagram"></i>
                    Instagram
                </a>
            </section>
            <section>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                        eum harum corrupti dicta, aliquam sequi voluptate quas.
                    </p>
                </div>
            </section>
            <section>
                <div class="p0">
                    <div>
                        <h5>Links</h5>
                        <ul class="footer-links">
                            <li>
                                <a href="index.html">Início</a>
                            </li>
                            <li>
                                <a href="produtos.html">Produtos</a>
                            </li>
                            <li>
                                <a href="contato.html">Contato</a>
                            </li>
                            <li>
                                <a href="cadastro.html">Cadastro</a>
                            </li>
                            <li>
                                <a href="carrinho.html">
                                    <i class="bi bi-cart-check"></i>
                                    Carrinho
                                </a>
                            </li>
                            <li id="login">
                                <a href="login.html">Entrar</a>
                            </li>
                        </ul>
                    </div>
            </section>
        </div>

        <div>
            © 2022 Copyright:
            <a href="index.html">TI Shirts</a>
        </div>
    </footer>

    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="./plugins/angular.min.js"></script>
    <script src="./js/carrinho/carrinho.js"></script>
    <script src="plugins/toastr/toastr.min.js"></script>
</body>

</html>